[user]
  name = natsuokawai
  email = kawai.natsuo@gmail.com
[core]
  editor = vim
  excludesfile = ~/.gitignore_global
  pager = delta # https://github.com/dandavison/delta
[color]
  ui = auto

[alias]
  st = status
  sh = show
  so = remote show origin
  ft = fetch
  up = pull --rebase
  rbm = rebase main
  ad = add
  ci = commit -a
  co = checkout
  com = checkout main
  dt = difftool
  poh = push origin HEAD
  br = branch
  cm = commit

[delta]
  features = side-by-side line-numbers decorations
  syntax-theme = Dracula
  plus-style = syntax "#003800"
  minus-style = syntax "#3f0001"

[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  file-decoration-style = none
  hunk-header-decoration-style = cyan box ul

[delta "line-numbers"]
  line-numbers-left-style = cyan
  line-numbers-right-style = cyan
  line-numbers-minus-style = 124
  line-numbers-plus-style = 28

[init]
  defaultBranch = main

[diff]
  tool = vimdiff
